<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello, HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<!---
hx-get="/00/banner" hx-target="#banner" hx-swap="outerHTML" hx-trigger="load"
--->
<body>

    <div id="banner" class="flex items-center gap-x-6 bg-green-500 px-6 py-2.5 sm:px-1.5 sm:before:flex-1 p-8">
        &nbsp;
    </div>

    <button
        type="button"
        class="rounded-md bg-green-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 m-4"
        hx-get="/01/banner"
        hx-target="#banner"
        hx-swap="outerHTML">
        Load Banner Content
    </button>

</body>
</html>